* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
}
footer {
    background-color: #931420;
    clear: both;

}
body{
    text-align: center;
}
footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}
